<app-header></app-header>
<div class="flex">
  <aside class="w-64" aria-label="Sidebar">
    <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800">
      <ul class="space-y-2">
        <li>
          <a
            href="#"
            routerLink="/dashboard"
            routerLinkActive="active"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
          >
            <home-icon></home-icon>
            <span class="ml-3">Dashboard</span>
          </a>
        </li>
      </ul>
      <hr />

      <ul class="space-y-2">
        <li>
          <a
            href="#"
            routerLink="/search"
            routerLinkActive="active"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
          >
            <search-icon></search-icon>
            <span class="ml-3">Search</span>
          </a>
        </li>
      </ul>

      <ul class="space-y-2">
        <li>
          <a
            href="#"
            routerLinkActive="active"
            routerLink="/add"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
          >
            <add-icon></add-icon>
            <span class="ml-3">New</span>
          </a>
        </li>
      </ul>

      <ul class="space-y-2">
        <li>
          <a
            href="#"
            routerLink="/stats"
            routerLinkActive="active"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
          >
            <stats-icon></stats-icon>
            <span class="ml-3">Stats</span>
          </a>
        </li>
      </ul>

      <ul class="space-y-2">
        <li>
          <a
            href="#"
            routerLinkActive="active"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
          >
            <user-icon></user-icon>
            <span class="ml-3">Profile</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <router-outlet></router-outlet>
</div>
