<div
  class="bg-grayishBlue ml-48 mt-12 h-fit w-full border-4 rounded-md border-grayishBlue"
>
  <form [formGroup]="todoForm" class="flex flex-col">
    <label for="title" class="text-xl font-bold text-orangeLight ml-6 mt-6"
      >Task Title</label
    >
    <input
      id="title"
      class="m-6 mb-2 mt-2 p-2 w-64"
      placeholder="Title"
      formControlName="title"
    />
    <div
      *ngIf="
        todoForm.get('title')?.invalid &&
        (todoForm.get('title')?.dirty || todoForm.get('title')?.touched)
      "
      class="bg-red-100 border border-red-400 w-64 ml-6 p-2 text-red-700 rounded relative"
      role="alert"
    >
      <div *ngIf="todoForm.get('title')?.errors">Title is required.</div>
    </div>
    <h1 class="text-xl font-bold text-orangeLight ml-6 mt-6">
      Task description
    </h1>
    <textarea
      class="w-64 ml-6 mt-4"
      placeholder="Task description.."
      formControlName="todo"
    ></textarea>
    <div
      *ngIf="
        todoForm.get('todo')?.invalid &&
        (todoForm.get('todo')?.dirty || todoForm.get('todo')?.touched)
      "
      class="bg-red-100 border border-red-400 w-64 ml-6 p-2 mt-2 text-red-700 rounded relative"
      role="alert"
    >
      <div *ngIf="todoForm.get('todo')?.errors">
        Task description is required.
      </div>
    </div>
  </form>
  <div class="flex m-6">
    <h1 class="text-xl font-bold text-orangeLight">Task status:</h1>
    <p class="text-xl font-bold ml-6">
      {{ todo?.completed ? "Completed" : "Not completed" }}
    </p>
    <button
      *ngIf="!todo?.completed"
      (click)="completeTask()"
      [title]="todo?.completed ? 'Complete your task' : 'Complete your task'"
      class="flex ml-6 bg-orangeLight hover:bg-orange-200 text-white font-bold rounded w-fit p-2"
    >
      Complete task
      <complete-task></complete-task>
    </button>
  </div>
  <div class="ml-6">
    <button
      type="submit"
      [disabled]="!todoForm.valid"
      (click)="saveChanges()"
      [title]="
        todoForm.valid
          ? 'Save your entered data'
          : 'Disabled until the form data is valid'
      "
      class="bg-orangeLight hover:bg-orange-200 text-white font-bold rounded w-28 h-10 disabled:bg-slate-500"
    >
      Save
    </button>

    <button
      (click)="deleteTask()"
      class="bg-orangeLight hover:bg-orange-200 text-white font-bold rounded w-28 m-5 h-10"
    >
      Delete
    </button>
  </div>
</div>
