<div class="grid grid-cols-2 ml-32">
  <ng-container *ngFor="let todo of toDos">
    <div
      class="bg-grayishBlue m-4 h-64 w-96 border-4 rounded-md border-grayishBlue hover:cursor-pointer hover:bg-slate-300"
    >
      <edit-icon [routerLink]="['/edit', todo.id]"></edit-icon>

      <h1 class="text-2xl font-bold p-5">{{ todo.title }}</h1>
      <p class="text-lg m-5">{{ todo.todo }}</p>
      <p class="m-5 text-">
        {{ todo.completed ? "Completed" : "Not completed" }}
      </p>
    </div>
  </ng-container>
</div>
